.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr 15fr;
  grid-template-areas:
    'header'
    'nav'
    'article-list';
}

.Header {
  grid-area: header;
  border: 1px solid red;
}

.Nav {
  grid-area: nav;
  border: 1px solid green;
}

.ArticleContainer {
  grid-area: article-list;
  border: 1px solid blue;
}
