.ArticleSort label {
  margin-right: 0.25em;
  font-family: var(--header-font);
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--dark-grey);
}

.sort-dropdown,
.sort-button {
  height: 1.5em;
  font-family: var(--body-font);
  font-size: 0.9em;
  font-weight: 300;
  border: 1px solid var(--medium-grey);
  background-color: #ffffff;
}

.sort-dropdown {
  min-width: 10em;
  -moz-appearance: none;
  font-style: italic;
  border-radius: 0.5em 0.1em 0.1em 0.5em;
}

.sort-button {
  border-radius: 0.1em 0.5em 0.5em 0.1em;
}

.sort-button:hover {
  border-color: var(--medium-grey);
}
