.ArticleSingle {
  display: flex;
  flex-direction: column;
}

.article {
  margin: 1em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
    'votes title'
    'votes author'
    'none body';
}

.article-votes {
  grid-area: votes;
}
.article-title {
  grid-area: title;
}
.article-author-time {
  grid-area: author;
}
.article-body {
  grid-area: body;
}

#comments-section-header {
  margin-left: 1em;
}
