.ArticleSingle {
  display: flex;
  flex-direction: column;
}

.ArticleSingle h2 {
  margin: 0 0 0 1em;
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 1.1em;
}

.ArticleSingle .article {
  margin: 1em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
    'votes title'
    'votes author'
    'votes body';
}

.ArticleSingle .article-votes {
  grid-area: votes;
}
.ArticleSingle .article-title {
  margin: auto 0;
  grid-area: title;
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 1.2em;
  color: var(--primary-color);
}
.ArticleSingle .article-author-time {
  margin: 0;
  grid-area: author;
  font-family: var(--body-font);
  font-weight: 300;
  font-style: italic;
  font-size: 0.8em;
  color: var(--dark-grey);
}
.ArticleSingle .article-body {
  grid-area: body;
  font-family: var(--body-font);
  color: var(--dark-grey);
  line-height: 1.75em;
}

.loading {
  font-family: var(--header-font);
  font-size: 1.5em;
  text-align: center;
  animation-name: breathe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes breathe {
  from {
    color: var(--light-grey);
  }
  to {
    color: var(--dark-grey);
  }
}
