.ArticleCard {
  margin: 0.5em 0em;
  display: grid;
  grid-template-columns: 4em auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'votes title title'
    'votes author time';
  border: 0px;
  border-radius: 3em 0.5em 0.5em 3em;
  background-color: var(--light-grey);
}

.ArticleCard:hover {
  box-shadow: inset 0 0 0 1px var(--medium-grey);
}

.article-time,
.article-author {
  margin: 0 1em 0.4em 0;
}
.article-title {
  grid-area: title;
  margin: auto 0.4em auto 0;
  text-decoration: none;
}

.article-votes {
  grid-area: votes;
  margin: auto 0;
}
.article-author {
  grid-area: author;
}
.article-time {
  grid-area: time;
}
