.CommentSubmit {
  display: flex;
  flex-direction: column;
  margin: 0.5em 1em;
  align-items: center;
}

.CommentSubmit textarea {
  width: 80%;
}

.CommentSubmit button {
  margin-top: 0.5em;
}

.submit-fail {
  border-color: var(--primary-color);
  background-color: rgba(186, 31, 49, 0.1);
  color: var(--primary-color);
  animation-name: error-shake;
  animation-duration: 100ms;
  animation-iteration-count: 3;
}
