.CommentCard {
  display: grid;
  grid-template-columns: 4em auto 6em;
  grid-template-rows: 1.5em auto;
  grid-template-areas:
    'votes author delete'
    'votes body body';
  padding: 1em;
  padding-left: 0.2em;
  margin: 0.5em 1em;
  background-color: var(--light-grey);
  border-radius: 3em 0.5em 0.5em 3em;
}
.comment-delete-button {
  grid-area: delete;
  height: 1.5em;
  width: 5em;
}
.comment-votes {
  margin: auto;
  grid-area: votes;
}
.comment-author-time {
  grid-area: author;
  margin: auto 0;
}

.comment-body {
  grid-area: body;
  margin-top: 0.5em;
  border-top: 1px solid var(--medium-grey);
}
