.Comment {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'votes author'
    'votes time'
    'votes body';
  padding: 1em 1em 1em 0.2em;
  margin: 0.5em 1em 0.5em 1em;
  background-color: var(--light-grey);
  border-radius: 2em;
}

.comment-votes {
  grid-area: votes;
}
.comment-author {
  grid-area: author;
  font-family: var(--body-font);
  font-weight: 300;
  font-style: italic;
  font-size: 0.8em;
  color: var(--dark-grey);
}
.comment-time {
  grid-area: time;
}

.comment-author,
.comment-time {
  font-family: var(--body-font);
  font-weight: 300;
  font-style: italic;
  font-size: 0.8em;
  color: var(--dark-grey);
}

.comment-body {
  margin-top: 0.5em;
  padding-top: 0.5em;
  grid-area: body;
  font-family: var(--body-font);
  color: var(--dark-grey);
  border-top: 1px solid var(--medium-grey);
}
