.Error {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 'icon message';
  max-width: 31em;
  min-height: 8em;
  margin: 2em auto;
  padding: 1em;
  border-radius: 2em;
  background-color: var(--light-grey);
}

#error-icon {
  grid-area: icon;
  margin: auto 0 auto auto;
}

#error-message {
  grid-area: message;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#error-message h2,
#error-message p {
  margin: 0;
  text-align: center;
  line-height: 1.5em;
}

#error-message button {
  margin-top: 0.5em;
  width: 9em;
}
