.Header {
  grid-area: header;
  background-color: var(--primary-color);
  text-align: center;
}

.Header h1 {
  margin: 0;
  font-family: var(--header-font);
  font-size: 2.5em;
  font-weight: 700;
  font-variant: small-caps;
  color: #ffffff;
}
