.Nav {
  margin: 0;
  padding: 0;
  background-color: var(--light-grey);
  display: flex;
}

.Nav a,
.dropdown {
  display: block;
  margin: 0.5em 1em 0.5em 1em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light-grey);
  z-index: 1;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  font-weight: bold;
  color: var(--primary-color);
}
