.Voter {
  display: flex;
  flex-direction: column;
}

#votes {
  text-align: center;
  color: var(--dark-grey);
}

.vote-button {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
